[submodule "js/filesaver"]
	path = js/filesaver
	url = https://github.com/eligrey/FileSaver.js.git
[submodule "js/blob"]
	path = js/blob
	url = https://github.com/eligrey/Blob.js.git
[submodule "js/jsrsasign"]
	path = js/jsrsasign
	url = https://github.com/kjur/jsrsasign.git
[submodule "node_modules/utp"]
	path = node_modules/utp
	url = https://github.com/mildred/utp
[submodule "node_modules/kademlia-dht"]
	path = node_modules/kademlia-dht
	url = http://github.com/mildred/kademlia-dht.git
