textarea.rich {
  width: 100%;
  height: 10em;
}
.template:not(.evaluated) {
  display: none;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.justify {
  text-align: justify;
}
input {
  font: inherit;
}
input[type=text], input[type=datetime] {
  border-top: none;
  border-left: none;
  border-right: none;
}
.mce-btn-group button {
  height: 24px;
}
.pageitem.unsigned {
  font-style: italic;
}
/*aside {
  font-style: italic;
}*/
